<html>
<head>
	<title>GS-Wechloy</title>
	<link rel="stylesheet" type="text/css" href="css/layout.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="css/fancybox.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/superfish.css" media="screen">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/fancybox.js"></script>
	<script type="text/javascript" src="js/hoverIntent.js"></script>
	<script type="text/javascript" src="js/superfish.js"></script>
	<script type="text/javascript" src="js/init.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<!--
			<ul id="navigation">
				<li><a href="#">Aktuelles</a></li>
				<li><a href="#">Wir über uns</a></li>
				<li><a href="#">Schülerarbeiten</a></li>
				<li><a href="#">Medien</a></li>
				<li><a href="#">Lehrer</a></li>
				<li><a href="#">Elterninfo</a></li>
				<li><a href="#">Schulleben</a></li>
				<li><input type="text" placeholder="Suche" name="suche" id="suche"/></li>			
			</ul>
			-->
			<ul class="sf-menu">
				<li class="current">
					<a href="#a">Aktuelles</a>
					<ul>
						<li><a href="#aa">Termine</a></li>
						<li><a href="#aa">Arbeitsgemeinschaft</a></li>
					</ul>
				</li>
				<li>
					<a href="#a">Wir über uns</a>
					<ul>
						<li><a href="#aa">KIKO</a></li>
						<li><a href="#aa">Schulvorstand</a></li>
						<li><a href="#aa">Unterrichtszeiten</a></li>
						<li><a href="#aa">Elternvertretung</a></li>
						<li><a href="#aa">Förderverein</a></li>
						<li><a href="#aa">Chronik</a></li>
						<li><a href="#aa">Leitbild</a></li>
					</ul>
				</li>
				<li>
					<a href="#a">Schülerarbeiten</a>
					<ul>
						<li><a href="#aa">Büchertipps</a></li>
						<li><a href="#aa">Autorenkinder</a></li>
					</ul>
				</li>
				<li>
					<a href="#a">Medien</a>
					<ul>
						<li><a href="#aa">Galerie</a></li>
						<li><a href="#aa">Links</a></li>
						<li><a href="#aa">Wechloy-Lied</a></li>
					</ul>
				</li>
				<li>
					<a href="#a">Lehrer</a>
					<ul>
						<li><a href="#aa">Sprechzeiten</a></li>
					</ul>
				</li>
				<li><a href="#a">Elterninfo</a></li>
				<li><a href="#a">Schulleben</a></li>
			</ul>
		</div>
		
		<div id="contentWrapper">
			<div id="content">
				<div class="contentBox">
					<h1>Herzlich Willkommen...</h1>
					<p>
						... auf der Internetseite der  Grundschule Wechloy der Stadt Oldenburg. Auf den folgenden Seiten möchten wir Sie 						über uns, unsere Arbeit und über Aktionen und Termine informieren. Dabei wünschen wir Ihnen viel Spaß.
					</p>
				</div>		
			</div>
		</div>
		<div class="borderButtom">
			<ul id="footer">
				<li><a href="#">Kontakt</a></li>
				<li><a href="#">Sitemap</a></li>
				<li><a href="#">Impressum</a></li>
				<li><a href="#">Datenschutz</a></li>
			</ul>
		</div>
	</div>
</body>
</html>